<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <!-- External CSS -->
    <link type="text/css" rel="stylesheet" href="../../SpartaContest-master/static/style.css">

    <title>Document</title>
</head>

<body>
<div id="toggle"></div>
<div id="sidebar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Genre</button>
                <div class="dropdown-content">
                    <a href="#">숏박스</a>
                    <a href="#">애플코딩</a>
                    <a href="#">MUSAT</a>
                    <a href="#">신세경</a>
                    <a href="#">노마드코더</a>
                </div>
            </div>
        </li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
<form id="btnBox" class="btnBox">
    <button type="button" class="btn btn-secondary btn-lg">숏박스</button>
    <button type="button" class="btn btn-secondary btn-lg">애플코딩</button>
    <button type="button" class="btn btn-secondary btn-lg">MUSAT</button>
    <button type="button" class="btn btn-secondary btn-lg">신세경</button>
    <button type="button" class="btn btn-secondary btn-lg">노마드코더</button>
</form>
<div class="container" id="container">
    <div class="titleBox"></div>
</div>

</body>
<script type="module" src="/static/test.js"></script>
<!-- <script type="module" src="/static/test2.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>