<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- External CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>2Slide Main</title>
</head>
<body>
<div class="wrapper">
    <div id="slide"><a id="logo" href="main.html">
        <div id="Two">2</div>
        <div id="S">S</div>
        <div id="lide">l i d e</div>
    </a></div>
    <div id="toggle"></div>
    <div id="sidebar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <!--슬라이드(보류중)-->
    <!--<div id="mainPhoto">-->
    <!--<img src="https://i.ytimg.com/vi/XAoQviSh7HQ/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDO59DlFMVL1Lc8lLbKT5dfHz9R_w">-->
    <!--</div>-->
    <div class="subTitle">
        <p id="whatru">What are U</p>
        <p id="gonslide">gonna slide ?</p>
    </div>
    <div id="searchBox">
        <div id="search">
            <form class="searchForm">
                <div class="searchBar">
                    <input type="text" required placeholder="어떤 장르를 찾으세요?">
                    <span></span>
                    <label>#</label>
                </div>
            </form>
        </div>
        <div id="genre">
            <button class="genreBtn">고양이</button>
            <button class="genreBtn">강아지</button>
            <button class="genreBtn">호랑이</button>
            <button class="genreBtn">인싸</button>
        </div>
    </div>
    <div class="videoList">
        <table class="table">
            <tr>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
                <td>
                    <div class="videoDiv">
                        <a class="thumbnail" href="#">
                            <img src="https://i.ytimg.com/vi/V1VwK56G6Kc/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAqBCMKoOJdcLkkX00_WZs1wCBPTQ">
                        </a>
                    </div>
                    <div>
                        <a class="thumbnail" href="#"><img class="channelImg"
                                                           src="https://yt3.ggpht.com/HR8Y6LIcxTbpZRl41Tq9ScyC_rRud-nKC2pkIHDfESn05I2wGPCDOkviHrahu4eMvaaj5wh7wCo=s68-c-k-c0x00ffffff-no-rj"></a>
                        <a href="#">야전삽짱재</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<footer class="footer">
    <div class="footer-title">
        <div class="footer-title-fst">
            <h1 id="2slideteam">2Slide Team</h1><span>with</span>
        </div>
        <div><img class="footer-img" src="https://spartacodingclub.kr/v5/icons/logo_v2.svg"/></div>
    </div>
    <div class="footer-contents">
        <div class="footer-fe-box">
            <h4>< 프론트엔드 ></h4>
            <div class="footer-name">
                <ul>최준묵</ul>
                <a href="https://github.com/dan-studio" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
            </div>
            <div class="footer-name">
                <ul>노지애</ul>
                <div><a href="https://github.com/jiaero" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
                </div>
            </div>
            <div class="footer-name">
                <ul>이현규</ul>
                <icon><a href="https://github.com/darksilicon13" target="_blank"><i
                        class="fa-brands fa-github fa-lg"></i></a>
                </icon>
            </div>
            <div class="footer-name">
                <ul>이정민</ul>
                <icon><a href="https://github.com/froggy1014" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
                </icon>
            </div>
        </div>
        <div class="footer-be-box">
            <h4>< 백엔드 ></h4>
            <div class="footer-name">
                <ul>전가영</ul>
                <icon><a href="https://github.com/dsyhwk1016" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
                </icon>
            </div>
            <div class="footer-name">
                <ul>송기찬</ul>
                <icon><a href="https://github.com/gichan-song" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a>
                </icon>
            </div>
            <h4>< 튜터 ></h4>
            <div class="footer-name">
                <ul>최영서</ul>
                <icon><a href="https://github.com/tomatophobia" target="_blank"><i
                        class="fa-brands fa-github fa-lg"></i></a>
                </icon>
            </div>
        </div>
        <div class="footer-searchbar">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Quick-Search" aria-label="Recipient's username"
                       aria-describedby="button-addon2" onKeyUp="if(window.event.keyCode==13){youtube(this.value)}">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                        class="fa-brands fa-youtube fa-lg"></i></button>
            </div>
            <div class="footer-about">
                <a onClick="window.location.reload()">Home</a>
                <a href="#">About</a>
                <a href="https://www.notion.so/2-3be792a4fe0c40388a1474532f4c5328" target="_blank">Team Notion</a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
        </div>
    </div>
    <div class="footer-copy"><p>Copyright © 2022 S2Slide Team. All rights reserved.</p></div>
</footer>
</body>
<script>
    // main.html로 왔을때 다시 로컬스토리지 클리어
    window.onload = window.localStorage.setItem("search", "");

    toggle.onclick = function () {
        toggle.classList.toggle('active');
        sidebar.classList.toggle('active');
    }
    document.onclick = function (e) {
        if (e.target.id !== 'sidebar' && e.target.id !== 'toggle') {
            toggle.classList.remove('active')
            sidebar.classList.remove('active')
        }
    }
    const searchbtn = document.getElementById("button-addon2");
    const searchinput = document.querySelector(".form-control");


    //footer
    function youtube(value) {
        window.open("https://www.youtube.com/results?search_query=" + value);
        searchinput.value = "";
    }

    // 버튼 클릭 시 다음 페이지이동

    searchbtn.addEventListener("click", () => {
        const value = searchinput.value;
        youtube(value);
    });

    const btns = document.getElementById("genre");
    const keyword = document.getElementById("videolist-keyword")

    btns.addEventListener('click', (e) => {
        let temp_keyword = e.target.innerHTML;
        localStorage.setItem("search", temp_keyword);
        window.location.href = "./videolist.html";
    })
</script>
</html>