<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sparta</title>
</head>
<body>
    <form action="/login/register" method="POST">
        <input type="text-area" name="username" placeholder="user name">
        <input type="text-area" name="email" placeholder="user email">
        <input type="text-area" name="password" placeholder="password">
        <input type="text-area" name="confirmPassword" placeholder="Check password">
        <button type="submit">regist</button>
    </form>
</body>
</html>