<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!-- External CSS -->
    <link type="text/css" rel="stylesheet" href="playlist_style.css">
    <!--파비콘-->
    <link rel="shortcut icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Apple_logo_black.svg/800px-Apple_logo_black.svg.png">
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/ed3cd54472.js" crossorigin="anonymous"></script>

    <title>Linker</title>
</head>
<body>
<nav class="navbar">
    <div class="navbar_logo">
        <i class="fa-solid fa-cloud"></i>
        <a href="">codingclub</a>
    </div>
    <div class="navbar_toogleBtn">
        <i class="fas fa-bars"></i>
    </div>

</nav>
<div class="videoList">
    <table class="table">
        <tr>
            <td>
                <div class="videoDiv">
                    <a href="#"><img class="video"
                                     src="https://i.ytimg.com/vi/09xpR5ecwfo/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAX9Ltd1snDiO1-povlEKv2Kqti8A"
                                     class="img-fluid" alt="Responsive image"></a>
                </div>
                <div>
                    <a href="#"><img class="channelImg"
                                     src="https://yt3.ggpht.com/ytc/AKedOLT-fxsnxR07h52arg_LlUegZPBOk_0V7QX9Mn_y6g=s176-c-k-c0x00ffffff-no-rj"></a>
                    <a href="#">GREEN윤그린</a>
                </div>
            </td>
            <td>
                <div class="videoDiv">
                    <a href="#"><img class="video"
                                     src="https://i.ytimg.com/an_webp/dKPa_BBo6AE/mqdefault_6s.webp?du=3000&sqp=CL2P3JMG&rs=AOn4CLBoy5nFACblo8675X2e0w_iEW83-Q"
                                     class="img-fluid" alt="Responsive image"></a>
                </div>
                <div>
                    <a href="#"><img class="channelImg"
                                     src="https://yt3.ggpht.com/ytc/AKedOLSdMbI_eZH5Qzo4WHEg-IFWV3oL5kwWIMYjq5673Q=s176-c-k-c0x00ffffff-no-rj"></a>
                    <a href="#">haha ha</a>
                </div>
            </td>
            <td>
                <div class="videoDiv">
                    <a href="#"><img class="video"
                                     src="https://i.ytimg.com/vi/GPMZn26SIOA/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB2mpMHnKYQ4f8Vf09yqzU6VUfPNQ"
                                     class="img-fluid" alt="Responsive image"></a>
                </div>
                <div>
                    <a href="#"><img class="channelImg"
                                     src="https://yt3.ggpht.com/6zjXHMSFm-ymgxEnRmZNoVD4CMY_fw398AH33b1hTwaQMK4MA9PErj6oD_YkcQpLa_f6QYSl=s176-c-k-c0x00ffffff-no-rj"></a>
                    <a href="#">행복한햄스터</a>
                </div>
            </td>
            <td>
                <div class="videoDiv">
                    <a href="#"> <img class="video"
                                      src="https://i.ytimg.com/vi/X521NvDaRB0/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDD_1VgNwhPc7mUT9HYbgQ9E2BI9Q"
                                      class="img-fluid" alt="Responsive image"></a>
                </div>
                <div>
                    <a href="#"><img class="channelImg"
                                     src="https://yt3.ggpht.com/b1dlqmcGLX-Dd4LHHlS1GJnCbw87YgIop8OGdPfIHXuCznx43iaKSYHOFyvyCMKpqWdEViUfOq0=s176-c-k-c0x00ffffff-no-rj"></a>
                    <a href="#">MBTI 일상툰</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="videoDiv">
                    <a href="#"><img class="video"
                                     src="https://i.ytimg.com/vi/39Fpzk3mbs4/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLC5nNNO-z7qhQc7IzWatvsSzl0EVg"
                                     class="img-fluid" alt="Responsive image"></a>
                </div>
                <div>
                    <a href="#"><img class="channelImg"
                                     src="https://yt3.ggpht.com/aW-CCbaQ2rbDrEvmpjf630Xhh4wiXEAYs_vZuhX7t3T7tqohQGYl1YzpWNORdJwPin6SMtstyw=s176-c-k-c0x00ffffff-no-rj"></a>
                    <a href="#">때껄룩ᴛᴀᴋᴇ ᴀ ʟᴏᴏᴋ</a>
                </div>
            </td>
            <td>
                <div class="videoDiv">
                    <a href="#"> <img class="video"
                                      src="https://i.ytimg.com/vi/qBDDZ6Y1RBA/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBcJc1ntbGqoGkpavf73i8ehtrFpw"
                                      class="img-fluid" alt="Responsive image"></a>
                </div>
                <div>
                    <a href="#"><img class="channelImg"
                                     src="https://yt3.ggpht.com/Vp0ow4uae5gjMZPfB6S3mjCPvSq9aFKzwd8j-4aSCmYNVkf8aGufDotTDNMAEnVjbROnjZtV3Q=s176-c-k-c0x00ffffff-no-rj"></a>
                    <a href="#">MODY</a>
                </div>
            </td>
            <td>
                <div class="videoDiv">
                    <a href="#"> <img class="video"
                                      src="https://i.ytimg.com/an_webp/Lh92CI9Etic/mqdefault_6s.webp?du=3000&sqp=CLSN3JMG&rs=AOn4CLBU8gYCdlBBDJ-bqvir5V-TuNU9qA"
                                      class="img-fluid" alt="Responsive image"></a>
                </div>
                <div>
                    <a href="#"><img class="channelImg"
                                     src="https://yt3.ggpht.com/ytc/AKedOLTE3jLZJuvGJknl1ThY4AIWmBQYwMpwv3vDXd-e=s176-c-k-c0x00ffffff-no-rj"></a>
                    <a href="#">도시오리 CityDuck</a>
                </div>
            </td>
            <td>
                <div class="videoDiv">
                    <a href="#"><img class="video"
                                     src="https://i.ytimg.com/vi/hqjvO2Z0R_o/hq720_live.jpg?sqp=CKyt05MG-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB6kykvi3h9DzwFpdhyPXOMZd-nIw"
                                     class="img-fluid" alt="Responsive image"></a>
                </div>
                <div>
                    <a href="#"><img class="channelImg"
                                     src="https://yt3.ggpht.com/8SIabRpF6s9NF9n9TOPBTzzXcdeUWP26G2Hx6oa2BX9vo4pVOYdTAXZdiJTx3OjxnvzcdwqPpQ=s176-c-k-c0x00ffffff-no-rj"></a>
                    <a href="#">Lofi Vibes</a>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
